
<title>LoRa Emergency</title>
<meta name="description" content="LoRa Emergency">


<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Styles -->
<!--<link rel="stylesheet" href="/css/pure.min.css" media="all">
<link rel="stylesheet" href="/css/pure-grid-responsive-min.css" media="all">-->

<link rel="stylesheet" href="/css/normalize.css" media="all">
<link rel="stylesheet" href="/css/style.css" media="all">

<!-- No Cache for Debugging -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<!--Theme settings-->
<link rel="shortcut icon" type="image/x-icon" href="/themes/<%= settings.theme %>/favicon.ico">
<link rel="stylesheet" href="/themes/<%= settings.theme %>/theme.css" media="all">